@model EditPasswordViewModel

@section Scripts{
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 m-2">
  
    <form method="post" asp-action="EditPassword">
         <!-- Password input -->
        <div class="form-outline mb-3">
            <label class="form-label" asp-for=NowPassword></label>
            <input type="password" asp-for=NowPassword class="form-control form-control-lg" />
            <span asp-validation-for="NowPassword" class="text-danger"></span>  
        </div>
        <!-- Password input -->
        <div class="form-outline mb-3">
            <label class="form-label" asp-for=NewPassword></label>
            <input type="password" asp-for=NewPassword class="form-control form-control-lg" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>  
        </div>
            <!-- RePassword input -->
        <div class="form-outline mb-3">
            <label class="form-label" asp-for=NewConfirmPassword></label>
            <input type="password" asp-for="NewConfirmPassword" class="form-control form-control-lg"/>
            <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>  
        </div>
          <button  type="submit" class="btn btn-primary btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Onayla</button>
    </form>
</div>
