@model ResetPasswordViewModel
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 m-2">
    
    <form method="post" asp-action="ResetPassword">
        <input type="hidden" asp-for="Token"/>
        <!-- Password input -->
        <div class="form-outline mb-3">

            <label class="form-label" asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control form-control-lg" />
            <span asp-validation-for="Email" class="text-danger"></span>  
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" asp-for=Password>Password</label>
            <input type="password" asp-for=Password class="form-control form-control-lg" />
            <span asp-validation-for="Password" class="text-danger"></span>  
        </div>
            <!-- RePassword input -->
        <div class="form-outline mb-3">
            <label class="form-label" asp-for=ConfirmPassword>Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>  
        </div>
          <button  type="submit" class="btn btn-primary btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Yeni Şifre</button>
    </form>
</div>
