@using Mvc_deneme.Extensions


@{
    var value = TempData.Get<AlertMessage>("message");
}
@if (value != null)
{
    <div class="mt-2" id="message">
        <div class="col-md-12">
            <div class="alert alert-@value.AlertType.ToLower().Trim()">
                <h4 class="alert-title">@value.Title</h4>
                <p>@value.Message</p> 
            </div>
        </div>
    </div>
}

