@section Scripts{
    <script>
        const message=document.querySelector('#message');
        document.addEventListener('DOMContentLoaded',setTimeout(()=>{
            message.remove()

        }),5000 );
       
    </script>
}
<div class="row" id="message">
        <div class="col-md-12">
                <div class="alert alert-danger">
                    <p>Bulunamadı</p>
                </div>
        </div>
</div>

